<!--
  card view class that creates a card with:
    - large photo background
    - header and body sections
    - button for router link
-->
<!-- image with link -->
<!--
<a [routerLink]="['./fetch-consensus-uniprot']" target="_self">
  <mat-card class="pandos-banner-card">
     <img mat-card-image src= {{ imagePath }} alt= {{ imageAltText }}>
   </mat-card>
</a> -->

<mat-card>
  <mat-card-content>
  <!-- title -->
    <h2> {{ cardTitle }}</h2> <br>

    <div class="center-horiz">
  <!-- body -->
        <p> {{ body }} </p>
    </div>
  </mat-card-content>

  <!-- button -->
  <!-- <div class="btn-container">
    <div class="center-horiz">
      <mat-card-actions>
        <a mat-raised-button color="accent" [routerLink]="['./fetch-consensus-uniprot']" target="_self"> Search </a>
      </mat-card-actions>
    </div>
  </div> -->


</mat-card>
