<a [routerLink]="['./fetch-consensus-uniprot']" target="_self">
  <mat-card class="pandos-banner-card">
     <img mat-card-image src={{imagePath}} alt="Pandos (protein annotation of domain, on steroids) banner">
   </mat-card>
 </a>

   <mat-card>
   <mat-card-content>
     <h2>
       {{cardTitle}}</h2> <br>
       <div class="center-horiz">
         <p> {{body}} </p>
         </div>
       </mat-card-content>
   <div class="btn-container">
     <div class="center-horiz">
       <mat-card-actions>
         <a mat-raised-button color="accent" [routerLink]="['./fetch-consensus-uniprot']" target="_self"> Search </a>
       </mat-card-actions>
     </div>
   </div>
 </mat-card>
