.pandos-banner-card {
  /* max-width: 400px; */
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.btn-container {
  height:70px;
  position: relative;
}

.center-horiz {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mat-raised-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 100px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  /* text-transform: uppercase; */
  text-decoration:none;
  border: none;
  outline: none;
}
