<h5>Please enter the uniprot ID below and hit enter </h5>
<br>

<!-- dummy code for search bar -->
<!-- <input #myTitle (keyup)="onClicked(myTitle.value)"> -->

<h2> Section for real time filter search</h2>
<!-- <h2> Section for real time filter (needs to store all data locally (e.g. all uniprots) so maybe not the best option</h2> -->
<div class="md-form">
  <input type="search" [(ngModel)]="searchText">
<!-- let uniprotID of input? -->
  <!-- <li *ngFor="let item of categories | filter : searchText : 'categoryName'"> -->
  <li *ngFor="let uniprot of uniprots | filter : searchText : 'uniprotID'">
    {{uniprot.uniprotID}}
    <!-- {{item.categoryName}} -->
  </li>
   <!-- placeholder="Search text"> -->
</div>
<!-- <ul *ngFor="let uniprot of uniprots | filter: searchText">
  <li>{{uniprot}}</li>
</ul> -->




<h5> {{ message }} </h5>


<!-- rough structure of  -->
<h1 id="tableLabel">All Uniprot data</h1>

<p *ngIf="!uniprots"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="uniprots">
  <thead>
    <tr>
      <th>uniprot_id</th>
      <th>accession_number</th>
      <th>entry_status</th>
      <th>sequence</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uniprot of uniprots">
      <td>{{ uniprot.uniprotId }}</td>
      <td>{{ uniprot.accessionNumber }}</td>
      <td>{{ uniprot.entryStatus }}</td>
      <td>{{ uniprot.sequence }}</td>
    </tr>
  </tbody>
</table>
