<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/84833d42-4f32-4e85-a2e4-97b2a258f50f/resourceGroups/PandosAPI20220417210406ResourceGroup/providers/Microsoft.ApiManagement/service/PandosAPIapi/apis/PandosAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/84833d42-4f32-4e85-a2e4-97b2a258f50f/resourceGroups/PandosAPI20220417210406ResourceGroup/providers/Microsoft.Web/sites/PandosAPI20220417210406</ResourceId>
    <ResourceGroup>PandosAPI20220417210406ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pandosapi20220417210406.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5c08e6be-439f-4a06-b4d1-063be762830e</ProjectGuid>
    <PublishUrl>https://pandosapi20220417210406.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PandosAPI20220417210406</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>