<!-- Displays pandos banner and sub text along with buttons leading to search page  -->
<!-- Full files under fancy-card-component folder -->
<app-fancy-card></app-fancy-card>
<!-- <app-info-card [cardTitle]="'cardTitle'" [body]="'body text'"></app-info-card> -->

<!-- <app-info-card
  [cardTitle]="'PANDOS is a database of novel sub-domain annotations of single transmembrane (TM) and 7TM proteins'"
  [body]="'body text'"
  [imagePath]="'assets/images/Pandos_github_banner.png'"
>
</app-info-card> -->
